@using Application.UseCases.Lunchs.Command;

@{
    Layout = "_Layout";
}

@model CreateLunchCommand

<h3 class="text-center">Add new lunch</h3>
<hr />

<form asp-controller="Lunch" asp-action="CreateLunch" enctype="multipart/form-data" method="post">
    <div class="container mt-3 custom-input">
        <label asp-for="Name" class="form-label">Name </label>
        <div class="input-group mb-3">
            <input asp-for="Name" type="text" class="form-control">
        </div>
        <span asp-validation-for="Name" class="text-danger"></span><br>

        <label asp-for="Price" class="form-label">Price </label>
        <div class="input-group mb-3">
            <input asp-for="Price" class="form-control" rows="5"></input>
        </div>
        <span asp-validation-for="Price" class="text-danger"></span><br>

        <label asp-for="Rewievs" class="form-label">Rewievs </label>
        <div class="input-group mb-3">
            <input asp-for="Rewievs" class="form-control" rows="5"></input>
        </div>
        <span asp-validation-for="Rewievs" class="text-danger"></span><br>

        <label asp-for="Quality" class="form-label">Quality </label>
        <div class="input-group mb-3">
            <input asp-for="Quality" class="form-control" rows="5"></input>
        </div>
        <span asp-validation-for="Quality" class="text-danger"></span><br>


        <label asp-for="ImgFile" class="form-label">Post photo</label>
        <div class="input-group mb-3">
            <input asp-for="ImgFile" accept="image/*" type="file" class="form-control">
        </div>
        <span asp-validation-for="ImgFile" class="text-danger"></span><br>
    </div>

    <div class="button-group">
        <button class="btn btn-dark">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
